/* color */
$while: #ffffff;
$green: #5d716d;
$deepGreen: #4b7572;
$dark:#333333;

$fontFamily:16px/24px  "Hannotate SC", "Microsoft Yahei",Arial, Helvetica, sans-serif;
$width: 100%;
$height:800px;
$zero:0px;
$imageWH:200px;
$fontSize: 1em;
$iconSize: 50px;